h1 { 
    color: red;
}

h2 {
    position: absolute;
    width: 636px;
    height: 160px;
    left: 322px;
    top: 47px;

    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    text-align: center;

    color: #224957;

}

h5 {
    position: absolute;
    width: 352px;
    height: 20px;
    left: 463px;
    top: 276px;

    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;


    text-align: center;

    color: #224957;
}

#login {

    font-family: 'Lexend Deca', sans-serif;
    position: absolute;
    width: 300px;
    height: 45px;
    left: 490px;
    top: 332px;

    background: #224957;
    border-radius: 10px;

}

#password {

    font-family: 'Lexend Deca', sans-serif;
    position: absolute;
    width: 300px;
    height: 45px;
    left: 490px;
    top: 409px;

    background: #224957;
    border-radius: 10px;

}

a {
    /* Forgot password? */

    position: absolute;
    width: 130px;
    height: 20px;
    left: 658px;
    top: 477px;

    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

#submit {
    
    font-family: 'Lexend Deca', sans-serif;
    position: absolute;
    width: 300px;
    height: 45px;
    left: 490px;
    top: 518px;

    background: #20DF7F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#rememberme {
    position: absolute;
    width: 108px;
    height: 17px;
    left: 518px;
    top: 477px;
    
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    text-align: center;
    
    color: #093545;
    
}

#vector {

    position: absolute;
    width: 1280px;
    height: 111px;
    left: 0px;
    top: 609px;
    
}

#vector2 {
    
    position: absolute;
    width: 1280px;
    height: 111px;
    left: 0px;
    top: 609px;

}